#DetailView-main-container {
  max-width: 100%;
}

#DetailView-size-qty{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

#DetailView-reviews-div {
  padding: 1em;
}

#DetailView-reviews-container {
  max-width: 100%;
}
