/* #ProductDetail-main {
  padding: 2.5em;
} */

#ProductDetail-main-container {
  max-width: 100%;
}

#ProductDetail-size-qty {
  display: flex;
}

#ProductDetail-reviews-div {
  padding-top: 1em;
}

#ProductDetail-reviews-container {
  max-width: 100%;
}
