div.subtotal {
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

div.empty-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.subtotal-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.checkout-btn {
  width: 100%;
}
