#Header {
  display: flex;
  width: 100%;
  /* flex-direction: column;
  flex-wrap: wrap; */
}

#Header-navbar {
  display: flex;
  width: 100%;
  /* flex-direction: column;
  flex-wrap: wrap; */
}

a.navbar-item:hover {
  background-color: #FFFFFF;
  color: black;
}

.navbar-search {
  margin-left: 5%;
  margin-right: 5%;
  width: 48vw;
  align-self: center;
}
