body {
  font-family: 'Arimo', sans-serif;
}

.has-text-muted {
  color: #95A5A6;
}

.fa {
  font-size:10px;
  padding-top:3px;
  color: #95A5A6;
}

.panel-block-item {
  display: inline-block;
  color: #95A5A6;
  font-weight: bold;
  padding: 0 10px;
}

.ProductList-title {
  float: left;
}

.ProductList-sortDrop {
  float: right;
}